<body class="itemPage">
<div class="singleItem">
<div class="singleItemItems">

<h1>Create New Item for {{singleRestaurant.name}} </h1>

<form class="itemForm" method="POST" action="/item/">
<table class="singleTable">
  
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
  <td><h4><span>Name of Food?</span></h4></td>
  <td><h4>   
    <input type="text" value="" placeholder="Name of dish" name="foodName" />
  </h4></td></tr>

 <tr>
  <td><h4><span>Price of Food</span></h4></td>
  <td><h4>   
   <input type="number" value="" placeholder="Price of dish" name="price" />
  </h4></td></tr>

 <tr>
  <td><h4><span>Review of Food</span></h4></td>
  <td><h4>   
  <select name="review">
    <option value="">None</option>
    <option value="1">1-Horrible</option>
    <option value="2">2-Bad</option>
    <option value="3">3-Decent</option>
    <option value="4">4-Tasty</option>
    <option value="5">5-Excellent</option>
  </select>
  </h4></td></tr>

 <tr>
  <td><h4><span>Which Menu is The Item on?</span></h4></td>
  <td><h4>   

<select name="menuId">
  {{#each allMenus}}
<option value="{{_id}}" {{#if selected}} selected
{{/if}}>{{type}}</option>

{{/each}}
</select>
  </h4></td></tr>

<input type="hidden" value="{{singleRestaurant._id}}" name="restaurantId">

<input type="hidden" value="{{singleRestaurant.name}}"
name="name">

  </table>
  
  <button class="itemButton" type="submit">Create Item</button>

</form>

</div>
</div>

</body>