<body class="itemPage">

{{!-- <h1>{{singleRestaurant.restaurantId}}</h1> --}}
<h1>{{singleItem.foodName}}</h1>

<h4>{{singleItem.price}}</h4>
<h4>{{singleItem.review}}</h4>


<a href="/item/update/{{singleItem._id}}">
<button>Edit Item</button>
</a>

<form method="POST" action="/item/{{singleItem._id}}?_method=DELETE">
<input type="submit" value="Delete"/>
</form>

</body>