<body class="restaurantPage">

<h1>{{singleRestaurant.name}}</h1>

<h4>{{singleRestaurant.location}}</h4>
<h4>{{singleRestaurant.operationDays}}</h4>
<h4>{{singleRestaurant.isOpen}}</h4>
<h4>{{singleRestaurant.priceRange}}</h4>
<h4>{{singleRestaurant.rating}}</h4>


<a href="/menu/allRestaurantMenus/{{singleRestaurant._id}}">
<button>View All Menus!</button>
</a>


<a href="/restaurant/update/{{singleRestaurant._id}}">
<button>Edit Restaurant</button>
</a>

<form method="POST" action="/restaurant/{{singleRestaurant._id}}?_method=DELETE">
<input type="submit" value="Delete"/>
</form>


</body>
