<h1>{{singleRestaurant.name}}</h1>

<h4>{{singleRestaurant.location}}</h4>
<h4>{{singleRestaurant.operationDays}}</h4>
<h4>{{singleRestaurant.isOpen}}</h4>
<h4>{{singleRestaurant.priceRange}}</h4>



<button>View Menus!</button>



<a href="/restaurant/update/{{singleRestaurant._id}}">
<button>Edit Restaurant</button>
</a>

<form method="POST" action="/restaurant/{{singleRestaurant._id}}?_method=DELETE">
<input type="submit" value="Delete"/>
</form>

<a href="/restaurant">
<button>Back to all restaurants</button>
</a>


<a href="/">
<button>Back to landing page</button>
</a>