<body class="menuPage">
<div class="allMenuContainer">
  <div class="menuItems">

<h1 class="allMenuTitle">Menus For {{restaurant.name}}:</h1>


<table class="allMenuTable">
{{#each allMenus}}
<tr><td>
<a href="/menu/{{_id}}">
<div>
    <h3>{{type}}</h3>
</div>
</a>
</td></tr>
{{/each}}

</table>

<a href="/restaurant/{{restaurant._id}}">
<button class="menuButton">Back to {{restaurant.name}}</button>
</a>

<a href="/menu/new">
<button class="menuButton">Create a new menu</button>
</a>




{{#each allRestaurants}}
  
   <option value="new/{{_id}}" {{#if selected}} selected
   {{/if}}>{{name}}</option>
   {{/each}}


  </select>


</div>
</div>
</body>
