<body class="itemPage">
<div class="singleItem">
<div class="singleItemItems">


{{!-- <img src="{{singleItem.logo}}"> --}}
   
<h1>{{singleItem.foodName}}</h1>
    
<table class="singleTable">
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
    <td><h4><span>Price:</span></h4></td>
    <td><h4>{{singleItem.price}}</h4>
    </td></tr>
      <tr>
    <td><h4><span>Review:</span></h4></td>
    <td><h4>{{singleItem.review}}</h4>
    </td></tr>
      <tr>
    <td><h4><span>Restaurant</span></h4></td>
    <td><h4><a href="../restaurant/{{restaurantId}}"></a>Restaurant Link</h4>
    </td></tr>
      <tr>
    <td><h4><span>Menu</span></h4></td>
    <td><h4><a href="../menu/{{menuId}}"></a>Menu Link</h4>
    </td></tr>

</table>


<a href="/menu/allItemMenus/{{singleItem._id}}">
<button class="itemButton">View All Menus!</button>
</a>


<a href="/item/update/{{singleItem._id}}">
<button class="itemButton">Edit Item</button>
</a>

<form method="POST" action="/item/{{singleItem._id}}?_method=DELETE">
<button type="submit" class="itemButton">Delete</button>
</form>

</div>
</div>

</body>
