
<body class="menuPage">
<div class="singleMenu">
<div class="singleMenuItems">

<h1>{{singleMenu.type}} Menu For {{allRestaurants.name}}</h1>
    
<table class="singleTable">
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
    <td><h4><span>Menu Size:</span></h4></td>
    <td><h4>{{singleMenu.size}}</h4>
    </td></tr>
      <tr>
    <td><h4><span>Alcohol Available?</span></h4></td>
    <td><h4>{{singleMenu.alcoholAvailable}}</h4>
    </td></tr>
      

</table>

<a href="/restaurant/{{allRestaurants._id}}">
<button class="menuButton">Back to Restaurant!</button>
</a>

<a href="/menu/menuItems/{{singleMenu._id}}">
<button class="menuButton">View Items on This Menu!</button>
</a>


<a href="/menu/update/{{singleMenu._id}}">
<button class="menuButton">Edit Menu</button>
</a>

<form method="POST" action="/menu/{{singleMenu._id}}?_method=DELETE">
<button type="submit" class="menuButton">Delete</button>
</form>

</div>
</div>

</body>
