<body class="menuPage">

<h1>Update Menu</h1>

<form method="POST" action="/menu/{{menu._id}}?_method=PUT">

  <input type="text" value="{{menu.size}}" placeholder="How big is the menu?" name="size" />

  <input type="text" value="{{menu.time}}" placeholder="Breakfast, lunch or dinner menu?" name="time" />

  <input type="text" value="{{menu.type}}" placeholder="What type of menu?" name="type" />

  <input type="boolean" value="{{menu.alcoholAvailable}}" placeholder="Do they serve alcohol?" name="alcoholAvailable" />

<select name="restaurantId">
  {{#each allRestaurants}}
  <option value="{{_id}}" {{#if selected}} selected {{/if}}>{{name}}</option>
  {{/each}}

  </select>


  <input type="submit" value="Update Menu" />
</form>

</body>