<body class="menuPage">
<div class="singleMenu">
<div class="singleMenuItems">

<h1>Update Menu for {{menu.name}}</h1>

<form class="menuForm" method="POST" action="/menu/{{menu._id}}?_method=PUT">
<table class="singleTable">

  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
  <td><h4><span>Menu Size:</span></h4></td>
  <td><h4>   
   <select name="size">
    <option value="{{menu.size}}">{{menu.size}}</option>
    <option value="small">Small</option>
    <option value="Medium">Medium</option>
    <option value="Large">Large</option>
  </select>
  </h4></td></tr>

 <tr>
  <td><h4><span>Breakfast, Lunch, or Dinner Menu?</span></h4></td>
  <td><h4>   
 <select name="type">
    <option value="{{menu.type}}">{{menu.type}}</option>
    <option value="breakfast">Breakfast</option>
    <option value="Lunch">Lunch</option>
    <option value="Dinner">Dinner</option>
  </select>
  </h4></td></tr>

 <tr>
  <td><h4><span>Alcohol Served?</span></h4></td>
  <td><h4>   
   <select name="alcoholAvailable">
    <option value="{{menu.alcoholAvailable}}">{{menu.alcoholAvailable}}</option>
    <option value="">Not Sure</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  </h4></td></tr>

 <tr>
  <td><h4><span>Restaurant Name:</span></h4></td>
  <td><h4>   
    <select name="restaurantId">
      <option value="">None</option>
{{#each allRestaurants}}
<option value="{{_id}}" {{#if selected}} selected {{/if}}>{{name}}</option>
{{/each}}
</select>
  </h4></td></tr>

  </table>
  
  <button class="menuButton" type="submit">Update Menu</button>

</form>

</div>
</div>

</body>