<body class="menuPage">
<div class="singleMenu">
<div class="singleMenuItems">

<h1>Update Menu</h1>

<form class="menuForm" method="POST" action="/menu/{{menu._id}}?_method=PUT">
<table class="singleTable">
  
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
  <td><h4><span>Menu Size:</span></h4></td>
  <td><h4>   
  <input type="text" value="{{menu.size}}" placeholder="How big is the menu?" name="size" />
  </h4></td></tr>

 <tr>
  <td><h4><span>Breakfast, Lunch, or Dinner Menu?</span></h4></td>
  <td><h4>   
  <input type="text" value="{{menu.type}}" placeholder="Breakfast, lunch, or dinner menu?" name="type" />
  </h4></td></tr>

 <tr>
  <td><h4><span>Alcohol Served?</span></h4></td>
  <td><h4>   
  <input type="boolean" value="{{menu.alcoholAvailable}}" placeholder="Do they serve alcohol?" name="alcoholAvailable" />
  </h4></td></tr>

 <tr>
  <td><h4><span>Restaurant Name:</span></h4></td>
  <td><h4>   
    <select name="name" >
{{#each allRestaurants}}
<option value="{{name}}" data-value="{{_id}}" {{#if selected}} selected {{/if}}>{{name}}</option>
{{/each}}
</select>
  </h4></td></tr>

  </table>
  
  <button class="menuButton" type="submit">Update Menu</button>

</form>

</div>
</div>

</body>